body {
    background-color: whitesmoke;
}

#specific-image {
    width: 1100px;
    height: auto;
    border: px solid #333;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888888;
  }


.page {
    width: 1100px;
    background-color: rgba(255, 255, 255, 0.957);
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.header h1{
    text-align: center;
    font-family: "Helvetica", Arial, sans-serif;
}

.header p{
    font-size: 19px;
    color: rgb(80, 80, 80);
    text-align: center;
    word-spacing: 3px;
    font-family: "Helvetica", Arial, sans-serif;

}

.p{
    font-size: 20px;
    color: rgb(80, 80, 80);
    text-align: center;
    word-spacing: 3px;
    font-family: "Helvetica", Arial, sans-serif;
}


.space {
    height: 10px;
}

.pure-u-7-8 p{
    text-align: justify;
    padding-left: 20px;
    line-height: 30.6px;
    font-weight: normal;
    font-size: 32px;
    color: #4e7be5;
    font-family:'Times New Roman', Times, serif;
}

#reference p{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #012169;
    font-family:'Times New Roman', Times, serif;
}


.pure-u-1-9 img{
    width: 80px;
    display: grid;
    place-items: center;    
}


.section-break {
    border: 2px solid #1b5fff; /* Set the line thickness and color */
    margin: 20px 0; /* Add some space above and below the line */
}

.graphParagraph{
    color: rgb(81, 75, 75);
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 22px;
    word-spacing: 2px;
}

.boldParagraph {
    font-weight: bold;
    color: #0381c9;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 23px;
    word-spacing: 2px;
}

.boldTitleParagraph{
    text-align: justify;
    font-weight: bold;
    font-size: 35px;
    color: #012169;
    font-family:'Times New Roman', Times, serif;
}


.pure-u-1-1 p{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

#end{
    font-style: italic;
    font-size: 14px;
    color: #969696;
}